h3 {
    font-family:"Century Gothic";
}




.nav-item {
    font-size:18px;
}

code {
    
    color:#428bca;
}

a { 
    color: inherit; 
} 

a:hover { 
    color: inherit; 
} 

.centeredtext {
    text-align:center;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {opacity: 0.8;}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}