@import url('https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display|Roboto|Source+Sans+Pro&display=swap');

.card:hover{
    opacity: 0.8;
}

p,a {  
    font-family: 'Source Sans Pro', sans-serif;
}

h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}