@import url('https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display|Roboto|Source+Sans+Pro&display=swap');

h1,h2,h3,h5{
    font-family: 'Playfair Display', serif;
    color: #706c5c;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}