@import url('https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display|Roboto|Source+Sans+Pro&display=swap');

body { 
    padding-top: 80px; 
    
}

#toggler {
  border: none;
}

#toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.bg-jet {
  background-color: #3d3d3d;
}
